body{
  margin: 0;
  padding: 0;
  background-color: #3096D6;
}

*{
  box-sizing: border-box;
}

/* This will contain all the "Login" */
.container{
  display: flex;/*I used flexbox to center all my Login elements*/
  justify-content: center;
  align-items: center;

  /* as hight I used relative units 100vh because I needed to cover all viewport*/
  height: 100vh; /****/
}

/* This is a div that contains all the elements of my login */
.login{
  background-color: white;
  width: 80%;
  border-radius: 20px;
  padding: 40px 0 75px 0;
}


/* //////////////////////////////////////////////////////////////////////////// */

/* I did two divs that represent two columns, that left column is to show a
image(.img) and the second div is to show the login form(.form) */

/* For the left div(.img) I added a display property as none because I designed
movil first, so for movil I didn't need show an imagen*/
.img{
  display: none;
  text-align:center;
  width: 50%;
}

.form{
  padding: 25px;/*I added a padding to expand the height of div*/
  width: 100%;/*For mobile I needed to cover all container*/
  text-align: center;
}

.form h2{
  font-family:'Open Sans';
  font-size: 30px;
  margin-bottom: 30px;
}

.form label{ /*The label tags are inline so I added a display property to change that*/
  display: block;
  text-align: left;
  font-family:'Roboto';
}

label span{
  color: red;
}

/*Now the inputs I just added some simple styles*/
.form input{
  width: 100%;
  margin-bottom: 20px;
  box-shadow:0px 3px 5px #D3D2D3;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #D3D2D3;
  text-indent:25px;/*This line is to indent the text of an input and the text
  don't be behind of the icons*/
}

/*I used a selector, this selector allows me to select only the fisrt paragraph
and I set some styles */
input + p{
  width: 100%;
  text-align: right;
  font-size: 12px;
  font-family: 'Roboto';
  margin: -10px 0 40px 0;
}

/*I added icons to my inputs*/
i{
  position: absolute;
  padding: 11px 0px 0px 10px;
  color:#575757;
}

a{
  text-decoration:none;
  color:#3197D6;
}

a:hover{
  color:#0170B9;
}

/* I also added some styles for the button */
.form button{
  color:white;
  padding: 10px 50px;
  background-color: #0170B9;
  border: none;
  font-size: 15px;
  font-weight: bolder;
}

/* I used Pseudo-classes for the button */
.form button:hover{
  cursor: pointer;
  background-color:#3197D6;
}


/* Finally I added a Footer to my website */
footer{
  text-align: center;
  background-color: #0170B9;
  padding: 5px;
  color: white;
}

/*Now I added a media to adapt this website on desktops*/
@media only screen and (min-width: 768px){

  .login{
    display: flex; /*I used flexbox in div (.login) because I needed to show the
    two columns (.img) and (.form) in a row*/
    width:75%;
  }

  .img{ /*For desktops I enabled the first column(.img) which contains an imagen*/
    display: inherit;
  }

  .img img{
    width: 100%;
    object-fit: scale-down;/*This is to scale the imagen when the dimension of
    the browser changes*/
  }

  .form{
    width: 50%;
    padding: 10px 90px 0px 90px;
    text-align: center;
  }

  .form h2{
    text-align: left;
    font-size: 40px;
    margin-bottom: 35px;
  }

  .form button{
    font-size: 18px;
    padding: 10px 75px;
    margin-top: 10px;
  }

}
