* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

/* I put some styles to all elements in the body */
body{
  font-family:"lato", sans-serif;
  font-style:italic;
  color: white;
}

a{
  text-decoration:none;
  color:black;
}

.h1{
  font-size: 30px;
  font-weight:600;
  margin: 10px;
  line-height: 1.2;
  color:black;
}

h2{
  font-size: 25px;
  font-weight:300;
  margin:10px;
  line-height:1.2;
}

p{
  font-size:30px;
}

img{
  width:100%;
}

li{
  list-style-type:none;
}

p{
  font-size: 20px;
}

.container{
  margin: auto; /*Center the .container*/
  max-width: 1200px;
}

/*///////////Styles to the Navigation Bar////////////////////////////////////*/
.navbar{
  background-color:purple;
  height: 100px;
}

.navbar h1{
  font-size:30px;
  font-weight:300;
  margin: 10px;
}

/*To display "Log In & Check Courses" inline with the Navigation bar title*/
.navbar .flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/*To display "Log In & Check Courses" side by side */
.navbar ul{
  display: flex;
}

/*Give styles to the "Log In & Check Courses" */
.navbar a{
  color: white;
  padding: 9px;
  margin: 10px;
}

.navbar a:hover{
  color: #9867C5;
  border-bottom:3px solid #9867C5;
}

/*/////Now give styles to the ShowCase of the website//////////////////////*/
.showcase{
  height: 300px;
  background-color: purple;
}

.showcase p{
  margin:12px 0 12px;
}

.showcase img{
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.showcase-form{
  margin-top:40px;
  padding-left: 7px;
}

/*We implements grid*/
.container .grid{
  overflow: visible;
  display: grid;
  grid-template-columns:60% 40%;/*I set 2 columns with these sizes
  the first column displays the form y the other displays the imagen*/
}

/*I used attribute selector to select the 2 columns of the ShowCase and
give 'em styles*/
[class*="item-"]{
  position: relative;
  top:50px;
}

/*I used other attribute selector to select the input of the form y give it
styles*/
.showcase input[type="email"]{
  padding: 10px 70px 10px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  padding-left: 6px;
}

/*I gave styles the bottom*/
.showcase .btn{
  border-radius: 6px;
  background:#9867C5;
  padding: 12px 20px;
  border: none;
  margin-left: 10px;
  color: white;
  font-size:16px;
  cursor:pointer;
  box-shadow:0 10px 10px rgba(0, 0, 0, 0.2);
}

.little-info{
  font-size: 15px;
  font-family: "poppins", sans-serif;
}


/* ///////////////////////////////////////////////////////////////////////// */
/*Now, I gave styles to the lower section of the website this section displays
info the page */

.lower-container{
  position: relative;
  top: 40px;
}

.title{
  color:black;
  font-size: 20px;
  text-align: left;
  padding-top:10px;
}

.text{
  color:black;
  font-size:17px;
  width:100%;
  margin-top: 20px;
  text-align: justify;
}

/*To display the three .stat in columns*/
.flex{
  display: flex;
  justify-content: space-around;
}

.stats{
  padding: 45px 50px;
}

.stat{
  margin: 30px;
  text-align: center;
  width: 800px;
}

/*I gave style the icons*/
.stat .fa{
  color: purple
}

.stat h3{
  font-size: 15px;
}


/*///////////////////////////////////////////////////////////////////////////*/

/*This is other section this section show testimonials*/
.testimonial{
  color: black;
  padding: 40px;
}

.testimonial h3{
  text-align: center;
}

/*Again I implement grid*/
.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*Now I set the size of the three columns
  each column display one testimonial*/
  gap:40px; /*I separete each column*/
}

/*I added styles the each card(testimonial)*/
.card{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
              7px 7px 20px rgba(0, 0, 0, 0.2);
}

.card p{
  font-size: 17px;
}

/*This is to make a circle imagen with a border*/
.circle{
  height:90px;
  width:90px;
  border:3px solid purple;
  border-radius:50%;
  overflow: hidden;

  position: relative;
  top: -30px;
  margin: auto;
}

.lower-container{
  margin-bottom: 100px;
}


/*////////////////////////////////////////////////////////////////////////*/

footer{
  background: purple;
  padding: 20px;
}

footer a{
  color:white;
  margin: 0 10px;
}

.links ul li{
  margin-bottom: 5px;
}

footer a:hover{
  color: #9867C5;
  border-bottom: 2px solid #9867C5;
}

.copyright p{
  font-size: 14px;
}

.profiles{
  text-align: center;
}


/* /////////////////////////////////////////////////////////////////////////// */
/*I added media to make responsive website*/

/* Tablets */
@media(max-width: 778px) {
  .grid, .container .grid-3{
    grid-template-columns: 1fr;
  }

  footer .grid-3{
    grid-template-columns: 30% 20% 40%;
  }

  .showcase {
      height: auto;
      text-align: center;
    }

  .imagen {
      width: 500px;
      margin: auto;
    }

  .stats .flex {
      flex-direction: column;
      align-items: center;
    }

  .stats {
    text-align: center;
  }

  .stat {
      width: 100%;
      padding: 0;
    }

  .stat .title{
    text-align: center;
  }
}


/*Mobiles*/
@media(max-width: 620px) {

  .showcase .container .grid{
    grid-template-columns: 1fr; /*To make the first column of the showcase cover
    entire space*/
  }

  .navbar {
    height: 100px;
  }

  .navbar .flex { /*To display the Navigation bar in column*/
    flex-direction: column;
  }

  .navbar a:hover {
    color: white;
    border-bottom: 2px solid black;
  }

  .navbar ul li {
    background: #9867C5;
    border-radius: 5px;
    padding: 10px 0;
    margin-left: 10px;
  }

  .showcase {
    height: 330px;
    text-align: center;
    margin-bottom: -50px;
  }

  .little-info {
      font-size: 13px;
    }

  .imagen {
    display: none;
  }

  .btn{
    margin-top: 10px;
  }

  .stat{
    width: 100%;
    padding: 0px;
  }

  .stat .title{
    text-align: center;
  }


  footer .grid-3{
    grid-template-columns: 1fr;
  }
}
